
.books{
    display: flex;
    flex-wrap: wrap;
    margin: 2rem auto;
    width: 1400px;
    border: 4px solid green;
    &__card{
        height: 20rem;
        width: 16rem;
        margin: 0.5rem;
       & img{
        height: 100%;
        width: 100%;
       }
    }
}