@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;
@use '../../partials/fonts' as *;
.header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0rem;   
    margin: 2rem;


    &__logo{
        height: 12rem; 
        width: 16rem;      
        margin: 0rem;
        & img{
            height: 100%;
            width: 100%;
            padding: 0rem;
        }
    }
    &__title{
        margin-left: 0rem;
        font-family: patrick;
        font-size: 4rem;
        color:  maroon;
        text-decoration: underline;
        text-shadow: 2px 4px #2e0f0f94;
    }
}