@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;
@use '../../partials/fonts' as *;
.header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0rem;   
    margin: 2rem;
    border: 2px solid red ;
    &__logo{
        height: 12rem; 
        width: 16rem;      
        margin: 0rem;
        & img{
            height: 100%;
            width: 100%;
            padding: 0rem;
        }
    }
    &__title{
        margin-left: 0rem;
        font-family: patrick;
        font-size: 3rem;
    }
}